/***********************************************
              	Typography
************************************************/
$font: 'Inter', sans-serif;

// font base - 14px
$caption-1: 2.14rem; // 30px
$caption-2: 1.428rem; // 20px
$caption-3: 1.285rem; // 18px

$normal-text: 1rem; // 14px
$small-text: 0.928rem; // 13px
$xsmall-text: 0.857rem; // 12px


/***********************************************
              	Color Scheme
************************************************/
$main-col: #7436DA;

$dark-1: #444654;
$dark-2: #40414E;
$dark-3: #343541;
$dark-4: #202123;

$light: #C5C5D1;
$light-2: #D9D9D9;
$light-3: #c4c4c4;
$light-4: #ECECF1;

$medium: #B3B3BF;

$white: #fff;
$black: #000;

$accent: #F1DA0E; // yellow
$accent-2: #2AB540; // green
$accent-3: #1596F3; // blue

$red: #F51B5C;