/***********************************************
              	Typography
************************************************/
$font: "Inter", sans-serif;

// font base - 14px
$caption-1: 2.14rem; // 30px
$caption-2: 1.428rem; // 20px
$caption-3: 1.285rem; // 18px

$normal-text: 1rem; // 14px
$small-text: 0.928rem; // 13px
$xsmall-text: 0.857rem; // 12px

/***********************************************
              	Color Scheme
************************************************/
$main-col: #7436da;

$dark-1: #444654;
$dark-2: #40414e;
$dark-3: #343541;
$dark-4: #202123;

$light: #c5c5d1;
$light-2: #d9d9d9;
$light-3: #c4c4c4;
$light-4: #ececf1;

$medium: #b3b3bf;

$white: #fff;
$black: #000;

$accent: #f1da0e; // yellow
$accent-2: #2ab540; // green
$accent-3: #1596f3; // blue

$red: #f51b5c;
